body {
    background-color: lightgreen;
    font-family: Arial;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 24px;
}
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
.container > h4 {
    font-size: 14pt;
    color: darkgreen;
}